*{
    padding:0;
    margin:0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
     Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav a{color: black;}

nav a.active{color: #065666;}

.writing-2>p{
    margin-top: 2rem;
}

.writing>p{position: relative;
top:-1rem;
text-align: center;
}

h4{margin-left: 6rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

h3{
    margin-bottom: 1rem;
    margin-left: 12rem;
}
.black1>p{
    margin-left: 12rem;
    text-align: left;
}

.last-1>h3{margin-left: 6rem;}

 #tag{margin-left: 4rem;
      margin-top: -1rem;
} 

nav{
    display: flex;
    text-align: center;
    margin-top: 2.5rem;
    justify-content: space-around;
    
}

nav>.div,p{margin-left: 1.5rem;}

.black-2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 2rem;
}

ul{list-style: none;}


hr{
    height: 0.25rem;
    background-color: rgb(238, 238, 238);
    border: none;

}

.logo{
width: 9rem;
height: 1.3rem;}

.demo{
    width: 9.4rem;
    height:2.5rem;
    position: relative;
    top: -0.6rem;
}

h1{text-align: center;
margin-top: 2.5rem;
font-size: 2.5rem;
margin-bottom: 2.5rem;}

.thirdphase{
    display: flex;
    align-items: center;
    position: relative;
    top:20rem;   
}
 
button{background-color: transparent;
width: 18.8rem;
height: 2.5rem;
position: relative;
left: 30rem;
border-radius: 0.6rem;
width: 12.5rem;
height:3.2rem;
border-color: #a9f881;
color:#6FC247 ;
border: 0.1rem solid;}

.demo-2{position: relative;
left: 27rem;
width: 12.5rem;
height: 3.2rem;}

.writing{
    position: relative;
    top: 4rem;
    
}

.fourthpart{position: relative;
right:2.7rem ;
top:24rem;
margin-left: 6rem;}

.writing-2{
    text-align: center;
    position: relative;
    top:25rem;
}

.icon-pack
{margin-top: 26rem;
display: grid;
grid-template-columns: 15rem 15rem 15rem 15rem;
grid-gap:2rem;
align-items:center;
margin-left:12rem;
margin-bottom: 1rem;

}

.icon-pack img{
    display:inline-block;
    height:4.4rem;
    width:9.4rem;
    
    background-color:#F9F9F9;;
}

.black{
     background-color: black;
    color: #F9F9F9;
}

.img-right{
float: right;
height:auto;
width:40%;
margin-right:3rem;
position: relative;
bottom: 40rem;
}



.last-1{position:relative;
top: -1.8rem;}

 .last{ 
    margin-top: 5.6rem;
}

.last-2,.last-3,.last-4{
    position: relative;
    left:1.25rem
}

.finale{
    position: relative;
    top: 10rem;
    left: 33rem;
}

@media screen and (max-width:620px){
    nav{display: flex;
       justify-content: space-between;
       
    }
    
    .demo-2 {
        position:relative;
        left:4rem;
    }
    
    button{
        position: relative;
        left:10rem;
    
}
    
    .fourthpart{
        width: 90%;
        height: auto;
        position: relative;
        right:4.5rem;
    }
    
    .logo{max-width: 6rem;}
    .demo{max-width: 9rem; }
    
    .writing-2>p{margin: 0 auto;}

    .icon-pack{
        display: flex;
        flex-wrap: wrap;
        margin-left:3rem ;
    }

    .black1{
            display: flex;
            flex-direction: column;
            position: relative;
            right: 9rem;
    }

    .black-2{display: flex;
    flex-direction: column;
    align-items: center;}

    .last{display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        left: 4rem;}

    .img-right{position: relative;
        top: 6rem;
    left: 6rem;}

    .finale{position: relative;
        top: 15rem;
        left: 10rem;}
    }

    @media screen and (max-width:480px){
        nav{display: flex;
           justify-content: space-between;
           
        }
        .demo{width: 5rem;
        height: 2.3rem;
        position: relative;
        bottom:0;
        }

        .logo{width: 4rem;}


        
        .demo-2 {
            position:relative;
            left:3rem;
            width:10rem;
        }
        
        button{
            position: relative;
            left:8rem;
            width:10rem;
        
    }
        
        .fourthpart{
            width: 90%;
            height: auto;
            position: relative;
            right:4.5rem;
        }
        
    
        
        .writing-2>p{margin: 0 auto;}
    
        .icon-pack{
            display: flex;
            flex-wrap: wrap;
            margin-left:5rem ;
        }
    
        .black1{
                display: flex;
                flex-direction: column;
                position: relative;
                right: 9rem;
        }
    
        .black-2{display: flex;
        flex-direction: column;
        align-items: center;}
    
        .last{display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            left: 1rem;}
    
        .img-right{position: relative;
            top: 6rem;
        left: 8rem;}
    
        .finale{position: relative;
            top: 10rem;
            left: 9rem;
            width:10rem}


            .success>h4{margin-left:8rem ;}
            .success>ul{margin-left: 2rem;}
        }

        @media screen and (min-width:768px) and (max-width:1024px){
            nav{display: flex;
               justify-content: space-between;
               
            }
            .demo{width: 10rem;
            height: 2.3rem;
            position: relative;
            bottom:0;
            }
    
            .logo{width: 8rem;}
    
    
            
            .demo-2 {
                position:relative;
                left:9rem;
                width:10rem;
            }
            
            button{
                position: relative;
                left:20rem;
                width:10rem;
            
        }
            
            .fourthpart{
                width: 90%;
                height: auto;
                position: relative;
                right:4.5rem;
            }
            
        
            
            .writing-2>p{margin: 0 auto;}
        
            .icon-pack{
                display: flex;
                flex-wrap: wrap;
                margin-left:8rem ;
            }
        
            .black1{
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    right: 9rem;
            }
        
            .black-2{display: flex;
            flex-direction: column;
            align-items: center;}
        
            .last{display: flex;
                flex-direction: column;
                justify-content: center;
                position: relative;
                left: 9rem;}
        
            .img-right{position: relative;
                top: 6rem;
                width: 60%;}
        
            .finale{position: relative;
                top: 10rem;
                left: 15rem;
                width:17rem}
    
    
                .success>h4{margin-left:8rem ;}
                .success>ul{margin-left: 2rem;}
            }

       
    
      